.dingzhi{
	width: 1328px;
	background: rgba(225,225,225,.5);
	margin: 0 auto;
	border-radius:10px ;
}
.content-top{width: 100%;line-height: 32px;background: rgba(0,0,0,0.5);}
.content-top ul{width: 1256px;}
.content-top li{float: left;width: 100px;text-align: center;}			
.c-active{background: rgba(0,0,0,0.5);}
.content-top li:hover{background: rgba(0,0,0,0.5);}
.main{
	padding-bottom: 20px;
}
.tianjiasp{
	
	
	width: 1080px;
	background: rgba(225,225,225,.8);
	padding-bottom: 25px;
	margin: 0 auto;
	position: relative;
}
.tianjiasp .left{
	width: 529px;
	height: 577px;
	margin-top: 15px;
	border-right:1px solid #8b8b8b;
	float: left;
}
.tianjiasp .left li{
	float: left;
	margin-left: 34px; 
	margin-top: 30px
}
.tianjiasp .left li b{
	display: inline-block;
	width: 145px
}
.tianjiasp .left li input{
	width: 144px;
	height: 26px;
	background: rgba(225,225,225,.5);
	border: 1px solid black;
	text-indent: 1em
}
.tianjiasp .right{
	float: left;
	width: 530px;
	height: 577px
}
.shangjia{
	width: 130px;
	height: 25px;
	background: #478aff;
	color: white;
	border: none;
	display: block;
	border-radius: 4px;
	position: absolute;
	bottom: 0px;
	left: 43%;
}
.dz-wu{
	width: 236px;
	height: 168px;
	margin:45px 0 0 104px;
	background: rgba(225,225,225,.8);
	font-size: 20px;
	color: #81807e;
	text-align: center;
	line-height: 168px;
}