			*{padding:0;margin:0}
			.clearfix:after{
			  content: "020"; 
			  display: block; 
			  height: 0; 
			  clear: both; 
			  visibility: hidden;  
			  }
			  
			.pull-right{float: right;}
			.pull-left{float: left;}
			body{background: url(../img/beijing.png) no-repeat fixed;background-size:cover ;font-size:13px ;font: 13px/1.2em '\5b8b\4f53',tahoma,arial,'Hiragino Sans GB',sans-serif;}
			a{text-decoration: none;color: white;}
			ul{list-style: none;}
			.header{position: relative;width:1330px;height:228px;margin: 0 auto;font-size: 13px;letter-spacing: 1px;}
			.logo{position: absolute;top:104px;left:80px;}
			.header-right{float: right;margin-top: 198px;}
			.header-right p{margin-right: 10px;}
			.header-right ul,.header-right ul li,.nihao {float: left;color: white;}
			.header-right li{margin-right: 13px;}
			.ul1 li:nth-child(1){padding-right: 13px;border-right: 1px solid white;}
			.ul2{margin-left: 13px;}
			.ul2 li:nth-child(1){padding-right: 13px;border-right: 1px solid white;}
			.ul2 li:nth-child(2){padding-right: 13px;border-right: 1px solid white;}
			
			.mune-box{width:999px;margin: 0 auto;font-size: 13px;}
			.mune{background: rgba(255,255,255,0.3);margin:20px 0;}
			.mune-box ul{margin:0 auto}
			.mune-box a{color: black;}
			.mune-box ul li{float: left;line-height: 65px;width: 111px;text-align: center;border-bottom: 2px solid rgba(255,255,255,0);}
			.active{border-bottom: 2px solid white;color: white;}
			.mune-box ul li:hover{border-bottom: 2px solid white;}	
			.mune-box ul li:hover a{color: white;}	
			.mune li.active a {
			    color: white;
			}
			
			.footer{padding:10px 0}
			.footer p{text-align: center;line-height: 24px;font-size: 15px;color: white;}