.liaotian {
	width: 1326px;
	margin: 0 auto;
	background: rgba(225, 225, 225, .8);
	border-radius: 10px;
}

.liaotian .top {
	width: 1215px;
	margin: 0 auto;
	border-bottom: 1px solid #6898fc;
	padding-bottom: 20px;
	line-height: 40px;
}

.liaotian .top .qu {
	color: #ec3307;
	font-size: 16px;
}

.liaotian .top .time {
	display: inline-block;
	margin-left: 5px;
}

.liaotian .top h3 {}

.content {
	width: 1215px;
	margin: 0 auto;
	padding-bottom: 90px;
	border-bottom: 1px solid #6898fc;
}

.huifu {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	background: #858583;
	border-radius: 3px;
	margin-top: 10px;
}

.huifu span {
	color: red;
}

.content p {
	margin-top: 10px;
}

.content .qu {
	font-size: 12px;
	color: #ec3307;
}

.content .top .time {
	display: inline-block;
	margin-left: 5px;
	font-size: 12px;
}

.content .huifu1 {
	position: relative;
}

.content .huifu1:before {
	content: '';
	position: absolute;
	top: -9px;
	left: 10px;
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #858583;
}
.bottom{
	width: 1215px;;
	height: 190px;
	background: rgba(200,199,204,.1);
	margin: 0 auto;
	border-radius:0 0 10px 10px ;
	padding-top:30px ;
	position: relative;
}
.bottom textarea{
	width: 1215px;;
	margin: 0 auto;
	background: rgba(200,199,204,.1);
	display: block;	
	height: 120px;
	resize: none;
	text-indent: 1em;
	font-size: 14px;
}
.bottom input{
	width: 54px;
	height: 28px;
	background: #c92a0c;
	color: white;
	float: right;
	border: none;
	border-radius:5px ;
	margin-right:10px ;
	position: absolute;
	right: 0;
	bottom: 80px;
}
.huifua{
	
	
	color: mediumpurple;
	text-align: center;
	
	
	cursor: pointer;
}
