.shuju{
	width: 90%;
	height: 290px;
	border-bottom:1px solid #c9c9c9 ;
	margin: 0 auto
}
.shuju .left{
	float: left;
	
} 
.shuju li{
	margin-top: 15px
}
.shuju .right{
	float:right;
	
}
.dingzhi{
	width: 90%;
	margin: 0 auto
}
.dingzhi li{
	margin-top:10px 
}