*{
margin: 0;
padding: 0;
}
body{font-size:12px;font-family: "微软雅黑";}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;}
a{text-decoration:none;}
/* 清除浮动 */
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}