.bfsearch{
	width: 1328px;
	background: rgba(225,225,225,.5);
	border-radius:0 0 10px 10px ;
	margin: 0 auto;
}
.bfsearch .fenglei li{
	float: left;
	padding: 21px 119px 0 97px;
	
}
.bfsearch  .lei{
	width: 239px;
	height: 107px;
	border-right:1px solid #425c5d ;
	float: left;
}
.bfsearch  .lei dl{
	padding-top:21px ;
	float: left;
}
.bfsearch  .lei dl dd{
	padding-left:21px ;
	padding-bottom:5px ;
	text-align: center;
	cursor: pointer;
}
.bfsearch  .lei dl dd:hover{
	color: red;
}
.bfsearch .zaohuashou dl dd {
	text-align: left;
	padding-left:5px ;
	
}
.bfsearch .lingshi dl:nth-child(1){
	padding-left: 65px;
}
.bfsearch .qita{
	border: none;
}
.bfsearch .qita dl:nth-child(1) {	
	padding-left: 35px;	
}
.bfsearch .qita dl dd{
	text-align: left;
	
}
.bfsearch .left{
	width: 194px;
	height: 534px;
	float: left;
	border: 1px solid #8fb0c1;
	background: #f1f3f2;
	margin:10px 0px 0px 1px;
}
.bfsearch .left li{
	width: 190px;
	height: 38px;
	border-bottom: 1px solid #a9bdbb;
	margin: 2px 0 0 2px;
	font-size:13px ;
	line-height: 39px;
	background:rgba(225,223,225,.8);
}
.bfsearch .left a{
	color:#354e4b;
	font-weight: 600;
	width: 100px;
	padding-left:35px ;
	color: black;
}
.bfsearch .right {
	margin:15px 0 0 17px ;
}
.bfsearch .right .top a{
	color: black;
}
.bfsearch .right .top li{
	margin-bottom:18px ;
}
.bfsearch .right .top li a{
	padding: 4px 14px;
	border: 1px solid #4e6670;
	border-radius:4px ;
}
.bfsearch .right .top label{
	margin-right:40px ;
}
.bfsearch .right .top select{
	width: 76px;
	height: 20px;
	background: rgba(225,225,225,.0);
	border: 1px solid #4c656a;
}
.bfsearch .right .top .text{
	width: 58px;
	height: 21px;
	background: rgba(225,225,225,.0);
	border: 1px solid #4c656a;
	text-indent: 1em;
	font-size:13px ;
}
 table{
	width: 1110px;
	height:533px;
	border: 1px solid #58badd;
	color: #263e42;
	margin-bottom:33px ;
	float: right;
}
 td{
	
}

 tr td{
	border-bottom:none ;
	border-bottom:1px solid  #58badd;
	position: relative;
}
 tr td p{
 	color: #969499;
 }
.pic{
	width: 48px;
	height: 48px;
	margin: 10px 0 0 30px;
}
.icon{
	width: 24px;
	position: absolute;
	right: 55px;
	top: 25px;
}
.bottom{
	background: rgba(225,225,225,.5);
}
.right .search{
	
	width: 270px;
	height: 35px;
	border-radius:16px ;
	background: rgba(225,225,225,.8);
	margin: 10px 34px 12px 12px;
	position: relative;
	float: left;
	
}
.right .search input{
	margin-left:20px ;
	width: 220px;
	height: 34px;
	background: rgba(225,225,225,0);
	border: none;
}
.right .search button{
	width: 21px;
	height: 21px;
	background: url(../img/sousuoicon.png) no-repeat;
	background-size:cover ;
	border: none;
	position: absolute;
	right: 6px;
	top: 5px;
}
.zuijin{
	float: left;
	margin-top: 20px 
}
.zuijin span{
	cursor: pointer;
}
.zuijin span:hover{
	color: red;
	text-decoration: underline;
}
.bfsearch .left .hotsearch{
	width: 190px;
	height: 362px;
	background: #d2dadd;

}
.hotsearch .wuping{
	width: 110px;
	margin: 0 auto;
	
	position: relative;
}
.hotsearch img{
	width: 33px;
	height: 33px;

}
.hotsearch h3{
	width: 60px;
	font-size: 14px;
	margin:0 auto; 
	color: red;
}
.hotsearch .wuping span{
	position: absolute;
	right: 0;
	top: 0px
}